
.remark-code {
    font-size: 0.8em;
}
.remark-slide-content {
    font-size: 18px;
}

h1, h2, h3, h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.hljs-comment {
    font-size: 0.8em;
}

.diag-plots img {
    width: 26em;
    position: absolute;
    top: 11%;
    z-index: 4;
}
.diag-plots img:nth-child(even) {
    left: 50%;
}
.diag-plots img:nth-child(n+3) {
    top: 50%;
    z-index: 2;
}

#previewdata .table td,th {
    font-size: 0.6em;
}